
/* Index.html Styling */
*{
  margin: 5px
}

#container{
  display: flex;
  flex-direction: row;
  justify-content: center
}
.col-sm-2{
  max-width: 100%
}

.btn-primary{
  margin-left: 15px
}

/* Success Page Styling */
*{
  margin: 5px
}

.header{
  display: flex;
  justify-content: space-between;
}

p{
  color: green;
}